<!DOCTYPE html>
<html>
<head>
  <title>Dynflow</title>
  <%= stylesheet_link_tag    "dynflow/application", :media => "all" %>
  <%= javascript_include_tag "dynflow/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
