body {
  padding-top: 60px;
  margin: 1em;
}

pre {
  white-space: pre;
}

div.tab-pane {
  margin: 1em;
}

div#plan {
  padding-right: 10em;
}

ul.plan-step span.success {
  color: #99FF66;
}

ul.plan-step span.error {
  color: #99FF66;
}

table.flow td.flow.sequence,
table.flow td.flow.concurrence,
table.flow-hint td.border {
  border-style: solid;
  border-width: 4px;
}

table.flow-hint td {
  width: 6em;
  padding: 0.3em;
}

table.flow-hint {
  margin: 1em 0 1em 0;
}

table.flow td.sequence, table.flow-hint td.sequence {
  border-color: #FF6600;
}

table.flow td.concurrence, table.flow-hint td.concurrence {
  border-color: #005CE6;
}

td.atom {
  padding: 0;
}

table.flow div.atom {
  margin-bottom: -1.6em;
  position: relative;
  height: 2.1em;
  top: 0;
  left: 0;
  z-index: -1;
}

table.flow table {
  width: 100%;
}

ul.plan-step p.step-label {
  cursor: pointer;
  margin-bottom: 1em;
}

table.flow td.success span.step-label {
  color: #468847;
}

table.flow div.success {
  background-color: #DFF0D8;
}

table.flow div.error {
  background-color: #FF9D9D;
}

table.flow td.skipped span.step-label {
  color: #C09853;
}

table.flow div.skipped {
  background-color: #FCF8E3;
}

table.flow span.step-label {
  cursor: pointer;
  margin-left: 4px;
  display: inline-block;
  height: 1.5em;
}

.plan-step div.action {
  display: none;
}

table.flow div.action {
  background-color: white;
  padding: 10px;
  display: none;
}

table.flow td.error div.step-data {
  display: block;
}

.navbar-brand img {
  height: 50px;
  display: inline;
  margin-top: -20px;
  margin-bottom: -20px;
}
