body {
    margin: 1em;
}

pre {
    white-space: pre;
}

div.tab-pane {
  margin: 1em;
}

div#plan {
  padding-right: 10em;
}

ul.plan-step span {
  display: inline-block;
  width: 100%;
}

ul.plan-step span.success {
  color: #99FF66;
}

ul.plan-step span.error {
  color: #99FF66;
}

table.run-flow td.run-flow.sequence,
table.run-flow td.run-flow.concurrence,
table.run-flow-hint td.border {
    border-style: solid;
    border-width: 4px;
    padding: 8px;
}

table.run-flow-hint td {
    width: 6em;
    padding: 0.3em;
}

table.run-flow-hint {
    margin: 1em 0 1em 0;
}

table.run-flow td.sequence, table.run-flow-hint td.sequence {
    border-color: #FF6600;
}

table.run-flow td.concurrence, table.run-flow-hint td.concurrence {
    border-color: #005CE6;
}

table.run-flow table {
    width: 100%;
}

table.run-flow td.success, table.run-flow td.success span.step-label {
    background-color: #DFF0D8;
    color: #468847;
}

table.run-flow td.error {
    background-color: #FF9D9D;
}

table.run-flow span.step-label {
    cursor: pointer;
}

table.run-flow div.action {
    background-color: white;
    margin: 5px -4px -4px -4px;
    padding: 10px;
    display: none;
}

table.run-flow td.error div.step-data {
    display: block;
}
