#big_logo {
  text-align: center;
  img {
    padding: 10px;
    padding-left: auto;
    padding-right: auto;
  }
}

.navbar-brand img {
  height: 50px;
  display: inline;
  margin-top: -20px;
  margin-bottom: -20px;
}

