<div class="action">
  <%= show_action_data("Input:", action_hash[:input]) %>
  <%= show_action_data("Output:", action_hash[:output]) %>
  <%= show_action_data("Error:", action_hash[:error]) %>
</div>
