<span class="step-label">
  <%= h(step.id) %>: <%= h(step.action_class.name) %>
</span>
<% if @plan.state == :paused && step.state == :error %>
  <a href="<%= url("/#{@plan.id}/skip/#{step.id}") %>" class="postlink">Skip</a>
<% end %>
<%= erb :action, locals: { action: load_action(step) } %>
