<ul class="plan-step">
  <li>
    <span class="alert alert-<%= step_css_class(step) %>"><%= h("#{step.action_class}") %></span>
    <% step.children.each do |sub_step_id| %>
       <%= erb :plan_step, locals: { step: @plan.plan_steps[sub_step_id] } %>
    <% end %>
  </li>
</ul>
