# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.
# This workflow will download a prebuilt Ruby version, install dependencies and run tests with Rake
# For more information see: https://github.com/marketplace/actions/setup-ruby-jruby-and-truffleruby

name: Ruby

on: [pull_request]

env:
  TESTOPTS: --verbose

jobs:
  rubocop:
    runs-on: ubuntu-latest
    outputs:
      ruby_version: ${{ steps.ruby_version.outputs.versions }}
    steps:
      - uses: actions/checkout@v5
      - id: ruby_version
        uses: voxpupuli/ruby-version@v1
      - id: min_ruby
        run: echo "version=$(echo '${{ steps.ruby_version.outputs.versions }}' | jq -r '.[-1]')" >> $GITHUB_OUTPUT
      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          # Use the minimum supported Ruby version for rubocop (last in descending list)
          ruby-version: ${{ steps.min_ruby.outputs.version }}
          bundler-cache: true
      - name: Run rubocop
        run: bundle exec rubocop

  test:
    runs-on: ubuntu-latest
    needs: rubocop
    strategy:
      fail-fast: false
      matrix:
        ruby_version: ${{ fromJSON(needs.rubocop.outputs.ruby_version) }}
        concurrent_ruby_ext:
          - 'true'
          - 'false'
        db:
          - postgresql
          - sqlite3
        exclude:
          - db: sqlite3
            ruby_version: '3.0'
          - db: sqlite3
            ruby_version: '3.2'
          - db: sqlite3
            ruby_version: '3.4'
          - db: sqlite3
            concurrent_ruby_ext: 'true'
          - db: postgresql
            ruby_version: '3.0'
            concurrent_ruby_ext: 'true'
          - db: postgresql
            ruby_version: '3.2'
            concurrent_ruby_ext: 'true'
          - db: postgresql
            ruby_version: '3.4'
            concurrent_ruby_ext: 'true'

    services:
      postgres:
        image: postgres:12.1
        ports: ['5432:5432']
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5
        env:
          POSTGRES_DB: ci_test
      redis:
        image: redis:latest
        ports: ['6379:6379']

    env:
      DB: ${{ matrix.db }}
      CONCURRENT_RUBY_EXT: "${{ matrix.concurrent_ruby_ext }}"

    steps:
    - uses: actions/checkout@v5
    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby_version }}
        bundler-cache: true
    - name: Run tests
      run: bundle exec rake test
    - name: Upload logs
      uses: actions/upload-artifact@v4
      if: ${{ failure() && contains(matrix.task, 'test') }}
      with:
        name: logs-${{ env.ARTIFACT_SUFFIX }}
        path: test.log
        retention-days: 5
